<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>

    <!-- Reminder Text File Location -->
    <add key="ReminderFileLocation" value=""/>

    <!-- Email Settings -->
    <add key="ToEmail" value=""/>
    <add key="FromEmail" value=""/>
    <add key="FromEmailPassword" value=""/>
    <add key="FromEmailDisplayName" value="Austin\'s bot"/>
    <add key="ReminderDataFileLocation" value=""/>

    <!-- Texting Settings -->
    <add key="ToPhoneNumber" value=""/>

  </appSettings>
</configuration>
